table {
    border-collapse: collapse;
    /* width: 100%; */
    display: none;

  }
  tr:nth-child(even){
    background-color: beige;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;

  }

  th {
    background-color: #f2f2f2;
  }
  .data{
    height: 40px;
    font-size: 1.5rem;
    background-color: rgb(53, 207, 79);
    color:white;
    border: none;
    border-radius: 10px;
    margin-left: 90vh;
    margin-top: 20px;
  }
  .data:hover{
    background-color: rgb(175, 211, 45);
    cursor: pointer;
  }
  h1{
   text-align: center;
  }